extends layout
include mixins

block content
  .centerContent.text-center
    //- div.col-lg-2
    #textDiv
      h3 What To Eat?
    #displayWindow
      img#thumbnail(src="/images/decide.gif" class="img-thumbnail" alt="Decide!")
    //- div.col-lg-2
    button#roll(class="btn btn-success") Decide What To Eat!!!
block append bodyscripts
  script(src="/javascripts/random.js")
  script.
    initRandom()